{% extends "base.html" %}
{% block conteudo %}
<div class="">
    <div class="row">
        <div class="col-lg-3">
            <form action="/ativity/product/" method="POST">
                {% csrf_token %}
                <select name="pesquisa" class="browser-default custom-select">
                    <option selected>Options</option>
                    <option value="cres">A-Z</option>
                    <option value="decres">Z-A</option>
                    <option value="maior">Maior</option>
                    <option value="menor">Menor</option>
                </select>
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">OK</button>
            </form>
        </div>
    </div>
</div>

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">valor</th>
            <th scope="col">valor total</th>
            <th scope="col">quantidade</th>
        </tr>
    </thead>
    <tbody>
        {% for product in c%}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.value}}</td>
            <td>{{product.value_t}}</td>
            <td>{{product.quantidade}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div>
    <h3>valor:{{soma}}</h3> 
    <button><a href="/ativity/product/finalizar/">finalizar</a></button>
</div>
{% endblock %}